COMPOSE_PROJECT_NAME=spendflow

APP_ENV=dev

POSTGRES_DB=spendflow
POSTGRES_USER=spendflow
POSTGRES_PASSWORD=spendflow
POSTGRES_PORT=5432
POSTGRES_HOST=db

DATABASE_URL=postgresql+psycopg2://spendflow:spendflow@db:5432/spendflow
API_BASE_URL=http://backend:8000
